.marca {
  font-size: x-large;
}

.imagen-marca img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(1px 3px 3px rgba(0, 0, 0, 0.447));
}

.nav-lista {
  font-size: larger;
}

.navbar,
.imagen-marca {
  background-color: rgb(192, 255, 115);
}

.nav-pag:hover {
  text-shadow: rgb(109, 88, 0) 1px 0 12px;
}

.nav-desplegable {
  background-color: rgb(192, 255, 115);
  border: 0px;
}
/* 
.nav-tog-icono {
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
                } */

.btn-custom-class {
  border-color: rgba(96, 0, 0, 0.233);
}

.btn-custom-class:hover {
  background-color: rgba(16, 192, 0, 0.4);
  box-shadow: rgb(109, 88, 0) 0 1px 1px;
}


.jumbo-prod {
  background-image: linear-gradient(
      rgba(129, 132, 91, 0.459),
      rgba(201, 154, 240, 0.283)
    ),
    url(../img/manosmedicaconceluenmesa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  height: 350px;
}



.jumbo-prod:hover {
  background-image: linear-gradient(
      rgb(129, 132, 91),
      rgba(201, 154, 240, 0.493)
    ),
    url(../img/manosmedicaconceluenmesa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  height: 350px;
}



.jumbo-prod p,
.jumbo-prod h2 {
  color: rgb(0, 0, 0);
}

.jumbo-prod h2 {
  background-color: #af4ec053;
  width: 10%;
}

.quienes-back {
  background-color: rgba(2, 108, 21, 0.185);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.quienes-back h3 {
  text-decoration:underline;
}

.nleft {
  background-image: url(../img/genteenunacompu.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  height: 350px;
}

/* .nleft {
    background-image: url(../img/vegetables-1584999_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 350px;
}
 */

/* @media (max-width: 760px) {
  .nosotro-left {
      object-fit: cover;
  }
} */

.gest-video {
  background-image: linear-gradient(
      rgb(187, 190, 136),
      rgba(212, 184, 235, 0.493)
    ),
    url(../img/genteconCompusobreMesa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding-top: 25px;
  margin-bottom: 0;
}

.gest-video p,
h2 {
  color: #000000;
}

.gest-video p {
  font-size: large;
}

.gest-video h2 {
  margin-bottom: 20px;
  padding-top: 0px;
  background-color: rgba(255, 0, 0, 0.167);
  width: 45%;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* width: 962px;
  height: 541px; */
}


.video iframe:hover {
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.502);
}


@media (min-width: 1000px) {
  .gest-video iframe {
    width: 60%;
    height: 60%;
  }
}

@media (min-width: 1800px) {
  .gest-video iframe {
    width: 40%;
    height: 40%;
  }
}



.site-footer {
  background-color: #003605;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #cd6300;
  background-color: #01ff0189;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
