.nav-list {
padding: 0;
}

/* .contenedro-logo {
padding: 100px;
} */

.imagen-marca img{
    width: 30px;
    height: 30px;
}

.nav {
    font-size:larger;
}

.nav {
    background-color: rgba(111, 185, 0, 0.82);
}